<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Licenciados</span>
            </div>
            <div class="h1 mt-16">Agregar Licenciado</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
    	<div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" #form="ngForm" (ngSubmit)="onSubmit()">

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                    	<input matInput placeholder="Nombre" #name="ngModel" type="text" name="name" [(ngModel)]="professional.name" required>
                        <mat-error *ngIf="!name.valid && name.touched">
                            El nombre es obligatorio!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput #lastName="ngModel" placeholder="Apellido" type="text" name="lastName" [(ngModel)]="professional.lastName" required>
                        <mat-error *ngIf="!lastName.valid && lastName.touched">
                            El apellido es obligatorio!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>
                	<mat-form-field fxFlex="25">
						              <input matInput placeholder="Documento" #id="ngModel" type="number" name="id" [(ngModel)]="professional.id" minlength="6" maxlength="9" required>
			                    <mat-error *ngIf="!id.valid && id.touched">El documento es obligatorio!</mat-error>
                          <mat-error *ngIf="id.number">El documento permite solo números</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Teléfono" #phonesNumber="ngModel" type="text" name="phonesNumber" type="text" [(ngModel)]="professional.phones.number" required>
                        <mat-error *ngIf="!phonesNumber.valid && phonesNumber.touched">
                            El teléfono es obligatorio!
                        </mat-error>
                    </mat-form-field>
	                <mat-form-field fxFlex="25">
	                    <input matInput [matDatepicker]="birthdayDatePicker" name="professional.birthDate" placeholder="Fecha Nacimiento" #birthdayDatePicker="ngModel" [(ngModel)]="professional.birthDate">
	                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
	                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
	                </mat-form-field>

                     <mat-form-field fxFlex="25">
                        <mat-select placeholder="Genero" #gender="ngModel" name="gender" [(ngModel)]="professional.gender">
                            <mat-option [value]="''">
                                Seleccionar genero
                            </mat-option>
                            <mat-option [value]="'m'">
                                Masculino
                            </mat-option>
                            <mat-option [value]="'f'">
                                Femenino
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>
                    <mat-form-field fxFlex="50">
                        <input matInput #addressStreet="ngModel" placeholder="Dirección" type="text" name="addressStreet" [(ngModel)]="professional.address.street">
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput #email="ngModel" placeholder="Email" type="email" name="email" [(ngModel)]="professional.email">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>
                    <mat-form-field fxFlex="50">
                        <input matInput #professionalLicense="ngModel" placeholder="Licencia" type="text" name="professionalLicense" [(ngModel)]="professional.license">
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput #professionalSpecialities="ngModel" placeholder="Especialidad" type="text" name="professionalSpecialities" [(ngModel)]="professional.specialities">
                    </mat-form-field>
                </div>

                <button mat-raised-button type="button" color="accent" [disabled]="!form.form.valid" type="submit">
                    Guardar
                </button>
            </form>
       </div>
   </div>
    <!-- / CONTENT -->
</div>
