:host {

    .content {

        form {
            width: 100%;
            max-width: 100% !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper {
            max-width: 95%;
        }
    }
}

.mat-chip{
  background-color: #3c4252;
  color: white;
}
