// Import Fuse main library
@import '../src/app/core/scss/core';

.successSnackBar{
    background-color: #04B404;
    color: white;
}

.errorSnackBar{
    background-color: #FF0105;
    color: white;
}
